/* Reset da página */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'gotham';
}


body {
    filter: invert(1);
    background-color: #000;
}

a {
    all: unset;
    /* Remove todos os estilos herdados e padrão do navegador */
}

.aHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

/* navbar */

.navbar-container {
    user-select: none;
}

/* navbar do topo */
.navbar-topo {
    background-color: #202020;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(1);

}

.resenhudo-wrapper {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: #202020;

}

.resenhudo-track {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-resenha 15s linear infinite;
}

.resenhudoTitle{
    display: none;
}

.resenhudo-track span {
    display: inline-block;
    padding: 0 30px;
    /* espaçamento entre as frases */
    font-size: 17px;
    color: #cccccc;
    text-transform: uppercase;
    letter-spacing: 1px;

}




.navbar-topo ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-left: 23px;
}

.navbar-topo ul li {
    color: #cccccc;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;
}

/* navbar de baixo */

.navbar-baixo {
    background-color: #fff;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoReal {
    display: flex;
    gap: 15px;
    position: relative;



}

.pintopinto{
    width: 90px;
    height: 90px;
    box-shadow:
        0 0 7px #ffffff;
    border-radius: 50%;
    filter: invert(1);
}


.nomeRealMatismo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #000000;
    /* Cor do neon */
    text-shadow:
        0 0 7px #000000;
}

.nomeRealMatismo h2 {
    font-size: 40px;
}

.nomeRealMatismo p {
    letter-spacing: -0.5px;
}


/* main */

main {
    background-color: #dfdfdf;
    padding: 16px;

}

/* Artigo */

.corpo-artigo {
    background-color: #efefef;
    padding: 25px;
    display: flex;

}

.corpo-artigo img {
    filter: invert(1);
}

article {
    padding: 45px 40px;

}

article {
    width: 70%;

}

article h2 {
    font-size: 40px;
}

article .infoMateria {
    color: #272727;
    margin-top: 15px;
    font-size: 14px;
}

article .destaque {
    color: #fff;
    filter: invert(1);
}

article #subTitle {
    color: #272727;
    font-size: 18px;
    width: 90%;
    margin-top: 10px;
}

article figure {
    margin: 40px 0 30px;
    color: #272727;
    font-size: 13px;

}

#fotoTime {
    width: 100%;
    height: auto;

}

.conteudo-corpo {
    text-align: justify;
    width: 100%;
}

hr {
    border: 1px solid #00000027;
}

.instaReal {
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dfdfdf6e;
    padding: 10px;
    transition: 0.3s ease;
}

.instaReal:hover {
    background-color: #000;
    color: #fff;

    .instaNomeImg img {
        filter: invert(1);
    }
}

.instaReal h3 {
    font-size: 20px;
}

.mobile .instaNomeImg{
    display: none;
}

.instaNomeImg {
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: bolder;
}

.instaNomeImg img {
    width: 30px;
    transition: 0.3s ease;
}

.instaNomeImg p {
    font-size: 14px;
}



/* novidades container */

.aside-container {
    width: 30%;
    padding: 45px 0 0 25px;
    position: relative;
    display: block;
}

.aside-container h2 {
    font-size: 32px;
}

.aside-container-mobile {
    display: none;
}



#noticias-container-desktop {
    position: absolute;
    right: 5px;
    width: 90%;
    height: 100%;
    max-height: 90%;
    overflow-y: auto;
    padding-right: 12px;
}

#noticias-container-desktop::-webkit-scrollbar {
    background: #00000000;
    width: 10px;
}

#noticias-container-desktop::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 10px;
}

.novidades-card {
    width: 100%;
    background-color: #dfdfdf;
    padding: 20px;
    margin-top: 40px;
    cursor: pointer;
}

.novidades-card img {
    width: 100%;
}

.titulo-noticia {
    font-weight: bold;
    font-size: 22px;
    color: #000;

}

.desc-noticia {
    margin-top: 15px;
    color: #272727;
    text-align: left;
    font-size: 14px;
}

.dataHoraP {
    font-size: 12px;
}

/* patrocínios */


.divPatrocinios {
    overflow: hidden;
    width: 50%;
    background: #fff;
    white-space: nowrap;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.divPatrocinios::before,
.divPatrocinios::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50px;
    /* Largura do efeito */
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.divPatrocinios::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.divPatrocinios::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.logos-wrapper {
    display: flex;
    width: max-content;
}

.logos {
    display: flex;
    animation: scroll 8s linear infinite;
}

.logos img {
    object-fit: contain;
    margin: 0 100px;
    height: 100px;
}

.imgEqCell {
    display: flex;
    align-items: center;
    font-family: "horizon";
    text-transform: uppercase;
    margin: 0 100px;
    user-select: none;
    font-size: 22px;
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}



footer {
    color: #fff;
    background-color: #202020;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    filter: invert(1);
}

@media screen and (max-width: 1280px) {
    .instaReal {
        gap: 3px;
    }


    .instaReal h3 {
        font-size: 16px;
    }

    .instaNomeImg img {
        width: 20px;
    }

    .instaNomeImg p {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {

    .resenhudo-track span {
        font-size: 12px;
    }

    article {
        width: 100%;
    }

    aside {
        display: none;
    }

    hr.normal {
        display: none;
    }

    .infoReal {
        gap: 15px;
    }

    .infoReal img {
        width: 70px;
        height: 70px;
    }


    .nomeRealMatismo h2 {
        font-size: 30px;
    }

    .nomeRealMatismo p {
        letter-spacing: -0.5px;
        font-size: 15px;
    }

    .instaReal:hover {
        background-color: #dfdfdf6e;
        color: #000;
    }

    .instaReal h3 {
        font-size: 15px;
    }

    .instaNomeImg img {
        width: 20px;
        transition: 0.3s ease;
    }

    .instaNomeImg p {
        font-size: 10px;
    }

    .logos img {
        object-fit: contain;
        margin: 0 100px;
        height: 85px;
    }

    .imgEqCell {
        font-size: 20px;
    }

    .body-novidades {
        overflow-x: hidden;
        width: 100%;
    }

    .body-novidades h2{
        font-size: 20px;
    }
    

    .aside-container {
        display: none;
    }

    .aside-container-mobile {
        display: flex;
        margin: 40px 0;
    }

    .linkNovidade {
        min-width: 40%;

    }

    /* Container dos cards - será o único scrollável lateralmente */
    #noticias-container-mobile {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        gap: 20px;
        padding: 0;
        box-sizing: border-box;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
    
    /* Estilo da barra de rolagem (opcional) */


    /* Card individual */
    .novidades-card {
        /* largura fixa */
        background-color: #dfdfdf;
        padding: 20px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 9px;
        
    }


    .modelo-card{
        margin: 10px 0;
        display: flex;
    }    

    .titulo-noticia {
        font-size: 15px;
        margin-top: 5px;
    }

    .desc-noticia {
        margin-top: 10px;
        font-size: 10px;
    }

    .dataHoraP {
        font-size: 8px;
    }


}

@media screen and (max-width: 600px) {
    .resenhudo-track span{
        font-size: 8px;
    }

    .navbar-baixo{
        justify-content: center;
    }






    main{
        padding: 0;
    }

    .corpo-artigo{
        padding: 15px;
    }

    article{
        padding: 0;
    }

    header h2{
        font-size: 27px;
        text-align: left;
    }

    article #subTitle{
        font-size: 13px;
        margin-top: 12px;
    }

    
    article .infoMateria{
        font-size: 10px;
    }
    
    .aside-container-mobile{
        margin: 15px 0;
    }
    .body-novidades h2{
        font-size: 15px;
    }

    
    .novidades-card{
        padding: 7px;
    }
    .titulo-noticia{
        font-size: 12px;
    }

    .desc-noticia{
        font-size: 8px;
        text-align: justify;
    }

    .conteudo-corpo{
        font-size: 14px;
    }

    footer p{
        font-size: 13px;
    }
    
}

@media screen and (max-width: 425px) {
    
    .resenhudo-track{
        display: none;
    }

    .resenhudoTitle{
        display: block;
        color: #cccccc;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
    }

    .navbar-baixo{
        justify-content: center;
    }


    main{
        padding: 0;
    }

    .corpo-artigo{
        padding: 15px;
    }

    article{
        padding: 0;
    }

    header h2{
        font-size: 27px;
        text-align: left;
    }

    article #subTitle{
        font-size: 13px;
        margin-top: 12px;
    }

    
    article .infoMateria{
        font-size: 10px;
    }
    
    .aside-container-mobile{
        margin: 15px 0;
    }
    .body-novidades h2{
        font-size: 15px;
    }

    
    .novidades-card{
        padding: 7px;
    }
    .titulo-noticia{
        font-size: 12px;
    }

    .desc-noticia{
        font-size: 8px;
        text-align: justify;
    }

    .conteudo-corpo{
        font-size: 14px;
    }

    footer p{
        font-size: 13px;
    }
}

@media screen and (max-width: 375px) {
    .nomeRealMatismo h2{
        font-size: 20px;
    }

    .nomeRealMatismo p{
        font-size: 12px;
    }

}